fastapi
uvicorn[standard]
pydantic
python-dotenv
langgraph
langchain-core
llama-index-core
llama-index-readers-file
llama-index-vector-stores-qdrant
pypdf
torch
sentence-transformers
qdrant-client
groq
redis
kafka-python
sqlalchemy
psycopg2-binary
ragas
bert-score